AD review trivial items

Copy-pasting from Alexey's mail at https://mailarchive.ietf.org/arch/msg/core/QRSNN9ZhsB5PXcMyPFn226DSgpM everything that is not coming up in the discussion thread.

If any of this spawns discussion, please remove it here and take it to a dedicated issue; I assume that all those can just be edited.

> Everywhere: header ==> header field (at least one instance in Section 5,
> there might be more)

> In Section 3.7: the first mention of URN needs a reference.

> In 4.1.1: RDAO type of 38 - IANA typically should be allowed to pick the
> next available value unless there was an early allocation. You should be
> prepared for this value to change.

> In 4.3:
> >  The well-known entry points SHOULD be provided to enable unicast
> discovery.
> 
> I don't see a new .well-known value being registered in the IANA
> Considerations section. Have I misintepreted what this mean?

This is referring to the existing .well-known/core discovery URI that is
heavily used in RD.

(The grouping of this requirement in the context of the section can be
improved still).

> In Section 5:
> 
> 
>       ep :=  Endpoint name (mostly mandatory).  The endpoint name is an
>          identifier that MUST be unique within a sector.  As the
>          endpoint name is a Unicode string, it is encoded in UTF-8 (and
>          possibly pct-encoding)
> 
> pct-encoding ==> pct-encoded

> At the end of section 5:
> 
> 
>    Req: POST /rd?ep=node1&base=http://[2001:db8:1::1] HTTP/1.1
>    Host: example.com
>    Content-Type: application/link-format
>    Payload:
>    </sensors/temp>;ct=41;rt="temperature-c";if="sensor",
>    <http://www.example.com/sensors/temp>;
>      anchor="/sensors/temp";rel="describedby"
> 
> This is not valid HTTP, I would rather you used a proper HTTP example. If
> you do, the line "Payload:" should be replaced with an empty line to
> separate payload from the header section.

I'll the rest of the items to this issue as I'm finishing my reply mail -- I'm just more comfortable leaving a mail draft open than a GitHub issue.

Batch two:

> In 5.3.1 on page 31:
> 
> typo: Service Unabailable ==> Service Unavailable

(which means I shall re-run my "check HTTP and CoAP codes and whether the names behind them match" script, which should have caught this)

> In 6.4, 3rd para:
> 
>     in path-absolute form or, if required, as absolute references.
> 
> What is the difference between these two?

Copied over here because we could say "full URIs" as we do in other places to reduce the variability on an already difficult subject.

> In 7.3:
> 
>    Assuming that the client is provided by a certificate
>    at manufacturing time, the certificate is uniquely identified by the
>    CN field and the serial number.
> 
> This probably needs a reference for CN/serial number.

> Also, should the list of fields include "reference to the document with more
> information"? (can be optional)

(on the IANA considerations)

The current PR solves all of this except

    In 7.3:

       Assuming that the client is provided by a certificate
       at manufacturing time, the certificate is uniquely identified by the
       CN field and the serial number.

    This probably needs a reference for CN/serial number.

@petervanderstok, can you provide a reference for this? I got completely lost in the history of everything leading up to X.509 certificates.

I think the correct reference is RFC5280 section 4.1.2.2
where CN is a certificate attribute (CA)

Peter

chrysn schreef op 2020-02-23 18:24:

> The current PR solves all of this except
> 
> In 7.3:
> 
> Assuming that the client is provided by a certificate
> at manufacturing time, the certificate is uniquely identified by the
> CN field and the serial number.
> 
> This probably needs a reference for CN/serial number.
> 
> @petervanderstok [1], can you provide a reference for this? I got completely lost in the history of everything leading up to X.509 certificates. 
> 
> --
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub [2], or unsubscribe [3].
 

Links:
------
[1] https://github.com/petervanderstok
[2]
https://github.com/core-wg/resource-directory/issues/222?email_source=notifications&amp;email_token=ADCZGQIMF2V3AXTGMFKPN4DREKWM5A5CNFSM4JOWZ3R2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEMWBZWI#issuecomment-590093529
[3]
https://github.com/notifications/unsubscribe-auth/ADCZGQKUUCDWO5IBFLPQJKTREKWM5ANCNFSM4JOWZ3RQ

> I think the correct reference is RFC5280 section 4.1.2.2 where CN is a certificate attribute (CA)

Thanks, added and closing.