Allow paths in con

I'm aware this is a discussion we've already had, but back then we dropped it for its complexity *and because we had no use cases*.

Matthias has brought up use cases for allowing a path in the con [on the mailing list](https://mailarchive.ietf.org/arch/msg/core/NjJVmLltA8FzeHIXkTcxdjMR_2I) as part of the -13 reviews. He argues that a gateway bridging into a non-CoAP world would want to register its proxees (is that a word?) individually, and if it doesn't use name-based virtual hosting (which is kind of rare in CoAP and needs wildcard DNS records), could go for path-based hosting.

As I see it, this would be a trivial addition from the RD point of view ("just allow it"). The onus is on the endpoint / gateway to do it right, ie. to never use path-absolute URI references unless they mean it.

What *does* make this a bit more complicated is that none of the content formats we currently describe allows using that meaningfully -- but we are not limiting the RD to those content formats, and they may (and hopefully will) still change while we're finishing RD.

On the editing track, I would keep those cases out of the examples (I'm game for building a test suite, but the examples shouldn't be that). Then, the editing becomes a matter of replacing "specified URI MUST NOT have a path component" with "typically does not have a path component", adding the one or the other "typically", and being done with it.

(This would also make https://github.com/core-wg/resource-directory/issues/123 obsolete, as those components would be allowed).

@petervanderstok (and possibly @jimsch), I'd assume you won't be too happy with (based on previous discussions of that topic), but do you see Matthias' point, or could point out concrete issues you see from allowing this?

I would prefer that #123 not be made obsolete on this.  You should be able to have a URI w/ a path and a relative URI which are then combined.  If we need to combine things like query parameters then it is going to get really messy really fast because there are not good rules about that.

I don't have any problems w/ allowing for the con to have a path and resolving with it.  I just think that we need to establish what the rules are in the RD document rather than using the horrible link format rules.

There are very good rules about that query parts and fragments in the Base URI: Anything that is not an empty string or starts with a "#" removes the fragment identifier and the query parameters. The Base URI's fragment identifier is never kept. (Derived from RFC3986 Section 5.2).

I'll try to write text on this issue on the weekend (@petervanderstok, a "no we can't have that because" would be more appreciated today than later), let's talk about #123 again when we have that.