anchor ambiguities

With the normal directory queries, if the external  representation is 

    </sensors/temp>;if="sensor",
    </sensors/light>;if="sensor"

Then a query of ?href="/sensors" would return all of the items.  On the
other hand if the external representation is

    </temp>;if="sensor";anchor="/sensors",
    </light>;if="sensor";anchor="/sensors"

The same query would return nothing.

This behavior is leading me to some questions on how the context field
should be processed or ignored when doing filtering as part of the RD code.

Suppose you publish

Context="coap://example.org/sensors"

    </temp>;if="sensor",
    </light>;if="sensor"


** Should a get with ?href="/sensors" against the path returned from the
post return any of the entries or should it find zero entries?  (Section
5.4.3 Read Endpoint links)

** Does the answer change if I do the query against the full resource
directory rather than a single subset of the RD? (Section 7)

Given that a response to a section 7 query would return

    <coap://example.org/sensors/temp>;if="sensor",
    <coap://example.org/sensors /light>;if="sensor"

** Should a query with ?href="/temp" return a response with one element - or
is the full context string needed for this type of query?  (i.e.
?href="coap://example.org/sensors*")

** I have already asked one question about anchors in the prior message, but
normalization for a response seems to be a problem here.

Jim

[edited by chrysn to make links readable after formatting]

Hi Christian, Michael,

I still have problems understanding anchor in relation to context

Req: POST /rd/4521?lt=600&con="coap://local-proxy.example.com:5683"
Content-Format: 40
Payload:
</sensors/temp>;ct=41;rt="temperature-f";if="sensor";anchor="coap://example.com";rel="describedby",
</sensors/door>;ct=41;rt="door";if="sensor"

Res: 2.04 Changed

Does the anchor in this payload overwrite the context of this link? The text of RFC6690 and RFC 5988 are not very helpful, because they explain different purposes.

Another question that keeps me occupied:
In the lookup interface the context is displayed in (part of) the <href> of the links.
However, this is not done when reading the registration resource.
If the context is not present in the href of the registration resource, one starts to wonder where it is and how it relates to the href.

Possibly, we discussed this already many times; some text in the RD to explain these issues would help.
Looking forward to a crisp answer.

Peter

2.  I am unclear of the proper interactions of the following items:
  * The anchor attribute - does it override the context query parameter
  * What happens if  a full URI is given as the target?  How does this
interact w/ the context query parameter?

@Michael or @Christian, can you react; my web vocabulary does not always suffice.

**The anchor attribute - does it override the context query parameter. What happens if a full URI is given as the target? How does this interact w/ the context query parameter?**

**The text of RFC6690 and RFC 5988 are not very helpful, because they explain different purposes.
This is a good set of questions to help us clarify how all of this works.**

The URI resolution should follow RFC3986 Section 5. 

The context of a link is what we are setting with "con". This is mainly because the directory is hosted at a different network address from the server that hosts the linked resources, and the address the client uses to register the links is often not the address where the links are hosted (commissioning tool, ephemeral port addresses, NAT, etc.)

Our "con" is essentially setting the context as defined in RFC3986, for remotely hosted links. Therefore, "anchor" in a link does indeed override our "con" setting.

**In the lookup interface the context is displayed in (part of) the of the links. However, this is not done when reading the registration resource.**

The lookup interface is meant to return links that a discovering client can use to reference resources. For this, the client can use a full "href" or a link with "anchor" containing the scheme, authority, and base path. We recommend full hrefs, for links returned by resource lookup, in our draft.

The registration interface is meant for the registering client to use to update the links. It is better for the registering client to not have to do link arithmetic when updating, adding, or removing links.  For this, we allow the "con" attribute to remain constant while relative paths are seen by the registering client for a resource-tree type view.


**With the normal directory queries, if the external representation is

</sensors/temp>;if="sensor",
</sensors/light>;if="sensor"

Then a query of ?href="/sensors" would return all of the items. On the
other hand if the external representation is

;if="sensor";anchor="/sensors",
< /light>;if="sensor";anchor="/sensors"

The same query would return nothing.**

The subject of how queries match on "href" is interesting and apparently not well treated in our text.

One could take the view that we should try to match network addresses, but I think this is a trap. 

It seems to be best to simply match the "href" value literally in the link, without trying to apply any of the RFC3986 link URI resolution rules to attempt address matching.

In the case of a discovering client doing rd-lookup queries, I don't imagine "href" would be used without having already obtained the link with its href value and cached "href" as a handle to retrieve it again later from the RD using rd-lookup.

In the case of the registration query, the registering client will already have a good idea of how "href" is constructed and should not be confused

Hi all,

The more I read, the less I understand.
I think we should be very careful not to synthesize (Chris's term) properties of the links based on possible intentions of the link specifications.
We should store the link and its attributes unchanged in the RD.
Also we should return the link and its attributes unchanged to any query.
So we keep the context separate from href.
I don't think we should replace con attribute as an anchor attribute in the query result.
I am still concerned about the hosts relation.
Hosts has the same semantics as con=, but we don't seem to store or return it as such.


"hosts" does not have the same semantics as "con". 

"con" is used to tell the resource directory not to use the client address in returned links, but some client-provided value for the context of the links. This is required in any case, because the device will not always use the same port to register as a client that it will use to expose resources as a server, also to support a commissioning tool.

The context of the link defines the subject of the "hosts" relation, which is the default link relation. When we set "con" in an RD registration we are literally telling the RD where the resource is "hosted", so it can send a correct link as a result of discovery queries.

There are two well understood ways for the RD to construct a link using "con". One is to return "con" in the "anchor" attribute of the link, and the other is to construct a full URI by pre-resolving the href according to RFC3986. 

An alternate way to do this is to require each link to be registered with an explicit "anchor" attribute instead of using "con". This might be a good option to eliminate confusion. 

Is there another suggestion?

Hi Michael,

as an aside: (IM deficient O) con and hosts have the same effect: they specify the authority, scheme of the link.
The specification of the base path in con is in my opinion a mistake; It clouds the issue.
I understood href value to be  a path
Extending that to an URI is again confusing.

I think, the RD should do a minimum of concatenation of query values. It should store the links with all the query values and do no more.
Any interpretation of the query values should be done by applications using the RD. The application can then concatenate and rearrange at leisure.


Risking that this is not as crisp as you hoped -- and somewhat redundant
with Michael's response (which I so far agree with), but I think more
complete:


On Wed, Sep 20, 2017 at 09:46:19AM +0000, peter van der stok wrote:
> With the normal directory queries, if the external  representation is 
> 
> </sensors/temp>;if="sensor",
>  </sensors/light>;if="sensor"
> 
> Then a query of ?href="/sensors" would return all of the items.  On the
> other hand if the external representation is
> 
> </temp>;if="sensor";anchor="/sensors",
> < /light>;if="sensor";anchor="/sensors"
> 
> The same query would return nothing.

Those representatons are not equivalent, but yes, filtering for href= is
IMO something that can give odd results. For example, the same document
could be expressed as

    <coap://some-address/sensors/temp>;if="sensor",...

and a ?href=/sensors* wouldn't match either. (Note that there needs to
be an asterisk after the path component or none of that would match).

I think we should not deviate here from RFC6690, and should rather
inherit its issues (hoping for an RFC6690bis).

> Suppose you publish
> 
> Context="coap://example.org/sensors"

Unless Michael brings up good examples (see https://github.com/core-wg/resource-directory/issues/34#issuecomment-330936789), 
I'd discourage using a context with a pre-set path component (just not
outright forbid it to have the option to specify behavior for it later).

> ** Should a get with ?href="/sensors" against the path returned from the
> post return any of the entries or should it find zero entries?  (Section
> 5.4.3 Read Endpoint links)

The return path of the POST is only the registration resource; no
querying against it is defined -- and I'd discourage using that
registration resource for anything but the registrant verifying its
registration.

> ** Does the answer change if I do the query against the full resource
> directory rather than a single subset of the RD? (Section 7)

Yes.

There again, I think we should do string matching as in RFC6690 section
4.1. That means that in this case, zero entries would be returned.

> Given that a response to a section 7 query would return
> 
> < coap://example.org/sensors/temp>;if="sensor",
> < coap://example.org/sensors /light>;if="sensor"

Yes by the current document, but as discussed in other places I'd change
that to capture rel semnatics (pull request WIP).

> ** Should a query with ?href="/temp" return a response with one element - or
> is the full context string needed for this type of query?  (i.e.
> ?href="coap://example.org/sensors*")

A ?href=coap://example.org/* query should match there, but as RFC6690
specifies bytewise literal operations for addresses, this is just a
query that's not really worth recommending.


On Wed, Sep 20, 2017 at 02:46:30AM -0700, peter van der stok wrote:
> I still have problems understanding anchor in relation to context
> 
> Req: POST /rd/4521?lt=600&con="coap://local-proxy.example.com:5683"
> Content-Format: 40
> Payload:
> </sensors/temp>;ct=41;rt="temperature-f";if="sensor";anchor="coap://example.com";rel="describedby",
> </sensors/door>;ct=41;rt="door";if="sensor"
> 
> Res: 2.04 Changed
> 
> Does the anchor in this payload overwrite the context of this link? The text of RFC6690 and RFC 5988 are not very helpful, because they explain different purposes.

Yes, it overwrites it.

However, the payload in this example is misleading: The href
(</sensors/temp>) is always resolved relative to the anchor (see 6690
section 2.1), so the two links target resources on completely different
servers (coap://example.com/sensors/temp and
coap://local-proxy.example.com:5683/sensors/dorr, respectively).

> In the lookup interface the context is displayed in (part of) the <href> of the links.
> However, this is not done when reading the registration resource.
> If the context is not present in the href of the registration resource, one starts to wonder where it is and how it relates to the href.

The context is a property of the registration. The body of the
registration resource is a the literal data that the registrant
submitted (at least that's how it has behaved ever since, and I feel
that that makes updating and verifying it much easier -- but it doesn't
have to be that way).

This is also why the registration resource is not suitable for public
consumption -- it does not really contain data that is valid by itself.

> Possibly, we discussed this already many times; some text in the RD to
> explain these issues would help.

We can add text that explains that; pulling that into a new issue at
https://github.com/core-wg/resource-directory/issues/44 because we
should first understands  how this works and then document it.



On Wed, Sep 20, 2017 at 09:49:58AM +0000, peter van der stok wrote:
> 2.  I am unclear of the proper interactions of the following items:
>   * The anchor attribute - does it override the context query parameter

Yes -- or more precisely, it has the implicit default value of the
context of the registration resource.

>   * What happens if  a full URI is given as the target?  How does this
> interact w/ the context query parameter?

The full URI in the target is never rewritten. (And with the pending
updated examples, the target is never rewritten at all, only the anchor
is fully resolved and made explicit.)


On Mon, Sep 25, 2017 at 07:40:56AM +0000, peter van der stok wrote:
> I think we should be very careful not to synthesize (Chris's term) properties of the links based on possible intentions of the link specifications.
> We should store the link and its attributes unchanged in the RD.
> Also we should return the link and its attributes unchanged to any query.
> So we keep the context separate from href.
> I don't think we should replace con attribute as an anchor attribute in the query result.

We do that, but we the link resolution rules can not reflect the fact
that we're hosting a .well-known/core on a different address, so we need
to do some minimal spelling-out.

The alternative would be to mandate that clients recognize the con=
attribute, so when they discover eg.

    GET /lookup/ep
    
    </reg/42>;con="coap://sensor1.example.com/"
    
    GET /reg/42
    
    </sensors/temp>;rt="temperature-c";if="sensor",
    </t>;rel="alternate";anchor="/sensors/temp"

they could do all the resolution themselves -- but that doesn't work
with resource lookups (because there we can have results from multiple
registrations), and requires RD specific capabilities in the client that
does the lookups.

Best regards
Christian


On Tue, Sep 26, 2017 at 07:58:17AM +0000, peter van der stok wrote:
> con and hosts have the same effect: they specify the authority, scheme of the link.
> The specification of the base path in con is in my opinion a mistake; It clouds the issue.
> I understood href value to be  a path
> Extending that to an URI is again confusing.

The `hosts` relation is purely an informational thing; no device
constructs paths based on it, and if a server states something seemingly
odd like (default values expanded)

<http://abcdefg.onion>;rel="hosts";anchor="http://my-server/"

then a client should not be upset by that.

> I think, the RD should do a minimum of concatenation of query values. It should store the links with all the query values and do no more.
> Any interpretation of the query values should be done by applications using the RD. The application can then concatenate and rearrange at leisure.

That's a (valid) question about the intended scope of the resource
directory. We could specify a URI-unaware resource directory (where the
client needs to know that it's talking to an RD and needs to do all the
updating) as well as a URI-aware resource directory (that does URI
resolution and allows for simpler clients). We just should not specify
both.

I looked into the chartered request for RD, but it isn't helpful in that
respect; @jaimejim, can you maybe tell more here?


I think that the points in this issue are obsolete since the last meeting, please confirm by closing the issue.