Pre-telechat responses

Before the 2020-08-13 telechat, some reviews have come in:

* [Russ for GenArt](https://datatracker.ietf.org/doc/review-ietf-core-resource-directory-25-genart-telechat-housley-2020-07-27/): Not Ready
  * Minor: Clarification on "subject" -- my intention was to include anything "subject", but I don't really know what else to put in there.
  * Minor: Why is the first attempt special? -- Can clarify, PR to come. [edit: <https://github.com/core-wg/resource-directory/pull/248>]
  * Nits addressed in https://github.com/core-wg/resource-directory/pull/246
  * More nits (IDnits) do not require editing, but some explanation -- where would that go? Shepherd writeup? (that would be → @jaimejim)

    > * non-ascii characters: One of them is necessary to illustrate a point; the remaining two are in the document editor's name.
    > * multicast IPv4 address: That is a suggestion to IANA for a to-be-registered address.
    > * non-RFC3849 compliant IPv6 addresses: RFC3849 ("2001:db8: addresses") contains no provision for multicast addresses. Thus, examples are generated using the RFC3306 based on the RFC3849 ones.

* [Valery for SecDir](https://datatracker.ietf.org/doc/review-ietf-core-resource-directory-25-secdir-telechat-smyslov-2020-08-09/): Ready
  * Notes that the DDOS mitigation section is a bit history heavy. I had similar comment in https://github.com/core-wg/resource-directory/issues/233#issue-600303293; should we use that comment to shorten here?
    * [edit: If so, <https://github.com/core-wg/resource-directory/pull/249> would want an ACK.]
  * "It is my impression, that Security Considerations were mostly written having in mind that (D)TLS is always used, however it is only "SHOULD" in this draft (or even "MAY" if we look at RFC6690 which Security Considerations this draft refers to). I think that adding a few words describing which consequences for security not using (D)TLS would have and in which cases it is allowed will make the Security Considerations more consistent. " -- [edit: covered in <https://github.com/core-wg/resource-directory/pull/250>]

I'll issue PRs for what I think we can do something about quickly, but won't merge them or create a -26 without an ACK on them (given we're late in the whole publication stage and my impression is that ill-coordinated uploads do more harm than good) and will follow up on this comment when they're ready for review.

With the additional reviews that have come in today, I see no point in addressing some of what has come in in a pre-telechat update (as we can't resolve *all* the discuss points) -- taking the urgency off this.

I'll still file PRs for changes resulting from the reviewer comments. Procedurally (so this goes to @marco-tiloca-sics or @jaimejim): Is the general expectation with IESG comments that the text be further improved to answer all the points (especially when they are comments), or can a plain "we did it that way because" suffice? In the latter case, would it make sense to collect point-to-point responses here so they get author or WG review before "we" answer them?

With https://mailarchive.ietf.org/arch/msg/core/xWLomwwhovkU-CPGNxnvs40BhaM/ and its follow-ups sent out, this is closed; any further comments will be opened as new issues.