Certificate usage not correct

From Russ' review:

```
Section 7.3 says:                                                                                                                                              
                                                                                                                                                               
   ... the certificate is uniquely identified by the                                                                                                           
   CN field and the serial number (see [RFC5280] Section 4.1.2.2).                                                                                             
                                                                                                                                                               
This is _not_ correct!  RFC 5280 says that the issuer name (not the CN)                                                                                        
and serial number uniquely identify a certificate!  The issuer name is                                                                                         
made up of may naming attributes, and the CN is one that MAY be present.                                                                                       
The list of naming attributes is given in Section 4.1.2.4 of RFC 5280.                                                                                         
                                                                                                                                                               
Note: Even if the conventions required by IEEE 802.1AR are followed, the                                                                                       
sentence is not correct.                                                                                                                                       
                                                                                                                                                               
The paragraph goes on to say:                                                                                                                                  
                                                                                                                                                               
   The RD can assign a unique endpoint name by using the certificate                                                                                           
   identifier as endpoint name.                                                                                                                                
                                                                                                                                                               
I believe that this is correct, but it is not the common name (CN)                                                                                             
that makes it correct.  I think that some guidance ia needed here.       
```

I am not familiar enough with certificates to process this; @petervanderstok, can you fix the underlying problem in the draft?

This is probably best grouped with the following item:

```
                                                                                                                                                               
   Proof of possession of the endpoint                                                                                                                         
   name by the registering endpoint is checked by encrypting the                                                                                               
   certificate identifier with the private key of the registering                                                                                              
   endpoint, which the RD can decrypt with the public key stored in the                                                                                        
   certificate.                                                                                                                                                
                                                                                                                                                               
This only works if the certificate contains an RSA public key.  There                                                                                          
are algorithm independent ways to achieve this outcome.  With the push                                                                                         
for elliptic curve cryptography and post-quantum cryptography it is                                                                                            
important that this be reworded in an algorithm independent manner.                                                                                            
```

Looking up my original sources, I come to the following rephrase:
OLD

Assuming that the client is provided by a certificate
   at manufacturing time, the certificate is uniquely identified by the
   CN field and the serial number (see [RFC5280] Section 4.1.2.2 [4]). 
 NEW

Assuming that the client is provided by a certificate
   at manufacturing time and the Common Name (CN) contains the unique
name of the issuer, 
the certificate is uniquely identified by the
   CN field and the serial number (see [RFC5280] Section 4.1.2.2 [4]). 

My private information is that the assumption on CN can be requested to
be true.

Peter
chrysn schreef op 2020-04-15 12:59:

> From Russ' review:
> 
> Section 7.3 says:                                                                                                                                              
> 
> ... the certificate is uniquely identified by the                                                                                                           
> CN field and the serial number (see [RFC5280] Section 4.1.2.2).                                                                                             
> 
> This is _not_ correct!  RFC 5280 says that the issuer name (not the CN)                                                                                        
> and serial number uniquely identify a certificate!  The issuer name is                                                                                         
> made up of may naming attributes, and the CN is one that MAY be present.                                                                                       
> The list of naming attributes is given in Section 4.1.2.4 of RFC 5280.                                                                                         
> 
> Note: Even if the conventions required by IEEE 802.1AR are followed, the                                                                                       
> sentence is not correct.                                                                                                                                       
> 
> The paragraph goes on to say:                                                                                                                                  
> 
> The RD can assign a unique endpoint name by using the certificate                                                                                           
> identifier as endpoint name.                                                                                                                                
> 
> I believe that this is correct, but it is not the common name (CN)                                                                                             
> that makes it correct.  I think that some guidance ia needed here.       
> 
> I am not familiar enough with certificates to process this; @petervanderstok [1], can you fix the underlying problem in the draft? 
> 
> --
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub [2], or unsubscribe [3].
 

Links:
------
[1] https://github.com/petervanderstok
[2] https://github.com/core-wg/resource-directory/issues/232
[3]
https://github.com/notifications/unsubscribe-auth/ADCZGQPGOKIY4YB2YLUILI3RMWHRFANCNFSM4MIPGEKQ
[4] https://tools.ietf.org/html/rfc5280#section-4.1.2.2

On Thu, Apr 16, 2020 at 12:32:18AM -0700, peter van der stok wrote:
> Looking up my original sources, I come to the following rephrase:
> OLD
> 
> Assuming that the client is provided by a certificate
>    at manufacturing time, the certificate is uniquely identified by the
>    CN field and the serial number (see [RFC5280] Section 4.1.2.2 [4]). 
>  NEW
> 
> Assuming that the client is provided by a certificate
>    at manufacturing time and the Common Name (CN) contains the unique
> name of the issuer, 
> the certificate is uniquely identified by the
>    CN field and the serial number (see [RFC5280] Section 4.1.2.2 [4]). 
> 
> My private information is that the assumption on CN can be requested to
> be true.

Frankly, I don't understand this. That'd be introducing a requirement on
the issuer to populate the CN with its name -- is that a realistic
assumption?

And how do those IEEE vs. RFC5280 requirements play into that?


I have seen examples of certificates where the CN contains the issuer
name.
When you think that is too much assuption, we should remove the phrase.
Or make it much vaguer.

This is in accordance with RFC 5280 and many others that sate that the
issuer (certificate authority CA) and the serial number uniquely
identify the certificate; How that fits with Idevid that contains the
serial number of the device, I don't know.

I saw that identification is often made a function of the certificate
type. Another argument to remove this aspect.

cheerio,

peter

chrysn schreef op 2020-04-16 09:43:

> On Thu, Apr 16, 2020 at 12:32:18AM -0700, peter van der stok wrote:
>> Looking up my original sources, I come to the following rephrase:
>> OLD
>> 
>> Assuming that the client is provided by a certificate
>> at manufacturing time, the certificate is uniquely identified by the
>> CN field and the serial number (see [RFC5280] Section 4.1.2.2 [4]). 
>> NEW
>> 
>> Assuming that the client is provided by a certificate
>> at manufacturing time and the Common Name (CN) contains the unique
>> name of the issuer, 
>> the certificate is uniquely identified by the
>> CN field and the serial number (see [RFC5280] Section 4.1.2.2 [4]). 
>> 
>> My private information is that the assumption on CN can be requested to
>> be true.
> 
> Frankly, I don't understand this. That'd be introducing a requirement on
> the issuer to populate the CN with its name -- is that a realistic
> assumption?
> 
> And how do those IEEE vs. RFC5280 requirements play into that?
> --
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub [1], or unsubscribe [2].
 

Links:
------
[1]
https://github.com/core-wg/resource-directory/issues/232#issuecomment-614473183
[2]
https://github.com/notifications/unsubscribe-auth/ADCZGQKO4K5BX7FKQJXTUTDRM2ZJHANCNFSM4MIPGEKQ